name: 'Pull Request'

on:
  pull_request:
  merge_group:

run-name: ${{ github.event_name == 'merge_group' && 'Merge Queue' || format('PR for {0} by @{1}', github.head_ref, github.actor) }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Validate
        run: |
          echo "Hello, world!"
